body {
    margin: 0;
    background: #1B244A;
    
}

.container {
    display: flex;
    justify-content: space-around;
}

@font-face {
  font-family: 'Cursed Timer ULiL';
  src: url('CursedTimerULiL.ttf');
}

/* board-title-home */

.hometitle {
    position: relative;
    width: 149px;
    height: 36px;
    left: 0px;
    top: 0px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
/* identical to box height, or 90% */

    text-align: center;
    color: #EEEEEE;
}

.numberbox1 {
    display: flex;
    flex-direction: column;
    background: #080001;
    border-radius: 5px;
    position: relative;
    width: 155px;
    height: 120px;
    left: 0px;
    top: 0px;
    z-index:1;
}

.numberbox2 {
    display: flex;
    flex-direction: column;
    background: #080001;
    border-radius: 5px;
    position: relative;
    width: 155px;
    height: 120px;
    left: 0;
    top: 0;
    z-index:1;
}


.pointtexthome {
    width: 117px;
    height: 120px;

    position:relative; 
    left: 20px;
    top: -70px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
/* or 141% */

    text-align: center;

    color: #F94F6D;
    z-index:2;
}
.pointtextguest {
    /* home-points-text */
    position: relative;
    width: 117px;
    height: 120px;
    left: 20px;
    top: -70px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
    z-index:2;
}

.addpointsbuttonshome {
    position: relative;
    width: 155px;
    height: 45px;
    left: 5px;
    top: 26px;
}

.addpointsbuttonsguest {
    position: relative;
    width: 155px;
    height: 45px;
    left: 5px;
    top: 26px;
}

button {
    background: transparent;
    width: 45px;
    height: 45px;

    border: 2px solid #9AABD8;
    border-radius: 5px;

    width: 45px;
    height: 45px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
}

.newgamebutton
{
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 45px;
    position: relative; 
    left: 5px;
    top: 60px;
    border: 2px solid #9AABD8;
    border-radius: 5px;

    font-family: 'Verdana';

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
}